%h1 Listing trips
= link_to 'New Trip', new_trip_path, class: 'btn btn-link', id: 'new_trip_link', remote: true
= render 'table'
%br/
%h2 Search
= search_form_for @search do |f|
  .field
    = f.label :name_cont, "Name contains"
    = f.text_field :name_cont
  .actions= f.submit "Search"