= form_for [@trip, @destination] do |f|
  - if @destination.errors.any?
    #error_explanation
      %h2
        = pluralize(@destination.errors.count, "error")
        prohibited this destination from being saved:
      %ul
        - @destination.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit class: 'btn btn-primary'
