%h1 Listing activities

%table.table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.name
      %td= activity.description
      %td= link_to 'Show', activity
      - if user_signed_in? && current_user == @trip.user
        %td= link_to 'Edit', edit_activity_path(activity)
        %td= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path
